@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=DM+Serif+Text:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', sans-serif;
}

#container {
    background-image: url('../images/background_mobile.png');
    background-size: contain;
    
}

:root {
    --color-neutral-0: #FFFFFF;
    --color-neutral-1: #F2EDE5;
    --color-neutral-2: #E2D8CC;
    --color-neutral-3: #D4C8BA;
    --color-neutral-4: #B8ADA2;
    --color-neutral-5: #9D9187;
    --color-neutral-6: #7C7268;
    --color-neutral-7: #5F564E;
    --color-neutral-8: #3D3630;
    --color-neutral-9: #2A2521;

    --color-primary-1: #FFACC9;
    --color-primary-2: #f491a3;
    --color-primary-3: #9E6BFF;
    --color-primary-4: #6ECFFF;

    --color-secondary-1: #fadb5f;
}

.title {
    font-size: 2.5rem;
    text-align: uppercase;
    color: var(--color-neutral-8);
    font-weight: 700;
    position: relative;

    &::before {
        content: '';
        display: block;
        width: 60px;
        height: 4px;
        background-color: var(--color-primary-1);
        position: absolute;
        bottom: 0;
        border-radius: 30px;
    }
}

a.btn {
    text-decoration: none;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    background-color: transparent;
    transition: background-color o.3s ease;
}

.btn-mobile {
    font-size: 1.5rem;
}

.btn-default {
    background-color: var(--color-primary-1);
    color: var(--color-neutral-0);

    &:hover {
        background-color: var(--color-primary-2);
    }
}

.btn-outlined {
    background-color: transparent;
    color: var(--color-primary-1);
    border: 2px solid var(--color-primary-1);

    &:hover {background-color: var(--color-primary-1);
        color: var(--color-neutral-0);
    }
}

header {
    background-color: var( --color-neutral-1);
    padding: 12px 4%;
    position: sticky;
    top: 0;
    z-index: 1;

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
           width: 120px;
        }

        ul {
            display: none;
            list-style: none;
            flex-direction: column;
            gap: 0.5rem;
            width: 100%;
            position: absolute;
            top: 80px;
            background-color: var(--color-neutral-1);
            left: 0;
            padding: 1rem;

            &.show {
                display: flex;
            }

            li {
                text-align: center;

                a {
                    color: var(--color-neutral-8);
                    text-decoration: none;
                    font-size: 1rem;
                    font-weight: 500;
                    transition: all 0.3s ease;

                    &:hover {
                        color: var(--color-primary-1);
                        border-bottom: 1px solid var(--color-primary-1);
                    }
                }
            }
        }

        .btn-default {
            display: none;
        }

    }
}

#home {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - 96px);
    padding: 32px 4%;
    padding-top: clamp(0px, 5vw, 32px);

    .home-image {
        max-width: 320px;
        width: 100%;
    }

    .home-title {
        color: var(--color-neutral-8);
        text-align: center;
        font-size: clamp(2rem, 5vw, 4.3rem);
        text-transform: uppercase;
        line-height: 1.2;
        max-width: 700px;

        span {
            color: var(--color-primary-1);
        }
    }

    .home-description {
        color: var(--color-neutral-9);
        text-align: center;
        font-size: 1rem;
        font-weight: 500;
        max-width: 600px;
    }

    .home-actions {
        display: flex;
        gap: 12px;
        margin-top: 12px;
    }
}

#tranding {
    padding: 32px 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    width: 100%;
    min-height: calc(100vh - 96px);

    .tranding-cards {
        .tranding-card {
            position: relative;
            img {
                width: clamp(200px, 5vw, 400px);
            }

            .tranding-rate {
                background-color: var(--color-neutral-0);
                position: absolute;
                bottom: 55px;
                right: 10px;
                padding: 5px 10px;
                border-radius: 5px;

                i {
                    color: rgb(247, 220, 72);
                }
            }

            .tranding-card-description {
                display: flex;
                flex-direction: column;
                text-align: center;
                font-size: 1.3rem;
                font-weight: 600;
                color: var(--color-neutral-8);

                span {
                    font-size: 1rem;
                    font-weight: 500;
                    color: var(--color-neutral-7);
                }
            }
        }
    }
}

#about {
    padding: 32px 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-primary-1);
    background-image: url('../images/1000106156.png');
    min-height: calc(100vh - 96px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 32px;

    .title {
        color: var(--color-neutral-0);

        &::before {
            background-color: var(--color-secondary-1);
        }
    }

    .about-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;

        .about-image {
            width: clamp(300px, 10vw, 500px);
        }

        .about-info {
            padding: 24px;
            border-radius: 20px;
            background-color: var(--color-primary-2);
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

            h3 {
                color: var(--color-neutral-0);
                font-size: 1.8rem;
                margin-bottom: 4px;

                span {
                    color: var(--color-secondary-1);
                }
            }

            p {
                color: var(--color-neutral-0);
                font-size: 1rem;

                span {
                    color: var(--color-secondary-1);
                    font-size: 500;
                }
            }
        }
    }
}

#products {
    padding: 48px 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 58px;

    .products-cards {
        display: flex;
        flex-direction: column;
        gap: 58px;

        .product-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: var(--color-primary-1);
            background-image: url('../images/1000106156.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            padding: 16px;
            border-radius: 50px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

            img {
                width: 200px;
                position: relative;
                top: -70px;
                filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.2));
            }

            .product-content {
                margin-top: -100px;

                h3 {
                    color: var(--color-neutral-0);
                    font-size: 1.8rem;
                    display: flex;
                    align-items: center;
                    flex-direction: column;

                    span {
                        color: var(--color-secondary-1);
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}

footer {
    background-color: var(--color-primary-1);
    color: var(--color-neutral-0);
    text-align: center;
    padding: 12px;
}

@media (min-width: 769px) {
   header {
        .navbar {
            .btn-mobile {
                display: none;
            }

            ul {
                display: flex;
                flex-direction: row;
                position: static;
                gap: 1rem;
                width: auto;
                padding: 0;
            }

            .btn-default {
                display: block;
            }
        }
   } 
}

@media (min-width: 768px) {
    #container {
        background-image: url('../images/background_desktop.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    #tranding {
        .tranding-cards {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 24px;
        }
    }

    #products {
        min-height: 100vh;
        gap: 8rem;

        .products-cards {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            gap: 24px;

            .product-card {
                width: 250px;
            }
        }
    }
}

@media (min-width: 1200px) {
    #about {
        margin: 4%;
        justify-content: center;

        .about-content {
            flex-direction: row;
            align-items: center;
            gap: 48px;
        }

        .about-image {
            order: 1;
        }

        .about-info:first-child {
            order: 2;
        }

        .about-info:last-child {
            order: 3;
        }
    }
}
